.contact-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.contact-icon {
  font-size: 2rem; 
  color: #b3b9c7;
  transition: transform 0.3s, color 0.3s;
}

.contact-icon:hover {
  color: #0077b5;
  transform: scale(1.2); 
}

