.header {
 background-color: #1e1e1e; 
  color: #c2c0c0; 
  padding: 20px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 1.8rem;
  color: #eaeaea;
  font-weight: 500;
  text-decoration: none;
}

.nav {
  display: flex;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-left: 25px; 
  display: flex;
  align-items: center;
  position: relative;
}

.nav-link {
  color: #ccc;
  text-decoration: none;
  font-size: 1.1rem;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #00a8e8;
  transition: width 0.3s ease;
}

.nav-item:hover .nav-link {
  color: #00a8e8;
}

.nav-item:hover .nav-link::after {
  width: 100%;
}

.nav-icon {
  font-size: 1.5rem;
  color: inherit;
  transition: transform 0.3s ease;
}

.nav-text {
  margin-left: 8px;
  font-weight: 400; 
  transition: transform 0.3s ease;
}

.nav-item:hover .nav-icon {
  transform: scale(1.1);
}

.nav-item:hover .nav-text {
  transform: translateX(5px); 
}

@media (max-width: 768px) {
  .header-wrapper {
    flex-direction: column; 
    align-items: flex-start;
  }

  .nav-menu {
    flex-direction: column; 
    margin-top: 20px;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 15px; 
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .nav-icon {
    font-size: 1.3rem;
  }

  .nav-text {
    font-size: 1rem;
  }
} 
